*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

.ball{
    width: 50px;
    height: 50px;
    background-color: rgb(18, 70, 193);
    border-radius: 50%;
    position: relative;
    bottom: 0;
    animation: bounce 3s infinite;
}
.body,html{
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}   
@keyframes bounce {
    0% {
        transform:translateY(0);
    }
    10% {
        transform:translateY(-10vh);
    }
    20% {
        transform:translateY(-24vh);
    }
    30% {
        transform:translateY(-40vh);
    }
    50% {
        transform:translateY(-100vh);
    }
}