@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.align{
    float: right;
    padding-right: 2%;
}
.clg{
    
    margin-left: 12.5%;
}
.container{
    border: 5%;
    border-color: black;
}

.edu{
    font-size: large;
    font-weight: 500;
}
.image{
   max-width: 10px;
   max-height: 10px;
}
.text {
    float: left;
  }

  .sk{
    font-weight: 500;
    font-style: bold;
}
.fa-phone{
    float: left;
    padding-top: 50%;
}
/* .fa-envelope{
    float: left;
    padding-top: 50%;
} */
 
body{
    background-color: rgb(46, 44, 44);
    color: white;
}

.hh {
    font-family: "Roboto", sans-serif;
   
  }
